html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding:0px;
}

body {
  background: #f7f7f7;
  font-family: sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  display:block;
  text-align: center;
}

@keyframes fade-in {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(7deg);
  }
}

.container {
  position: absolute;
  top: 55%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.logo {
  margin:auto;
  width: 300px;
  height: 100px;
  padding-top: 20px;
  background: url('Glasses.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.logotext {
}

.info {
  display: block;
  text-align: center;
}

a {
  color: #fbfbfb;
  display: inline-block;
  transition: 200ms;
  padding: .5em;
  background: #333333;
  margin: .3em;
  text-decoration: none;
}

a:hover {
  color: #fbfbfb;
  background-color: #71EEB8;
}

.footer {
  font-size:.6em;
  position: absolute;
  left:.1em;
  bottom:-10px;
  padding:0px;
  margin: 0px;
}
