body {
  background-image: url("bg.jpg");
  background-size: cover;
  overflow: hidden;
  margin:0;
  padding:0;
}

.container {
  overflow: hidden;
  margin:0;
  padding:0;
}

* {
  text-decoration: none;
}

#taskbardiv {
  z-index: 100;
}

#taskbar {
  position: absolute;
  padding:0;
  margin:0;
  width:100%;
  height:6%;
  bottom:0;
  left:0;
  background-image: url("taskbar.png");
  background-size: 100% 100%;
}

.icon {
  float:left;
  width:5%;
  height:85px;
  padding:25px;
  margin:0%;
}

.icon img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.icon p {
  font-size:16px;
  text-align: center;
  margin:5px 0 0 0;
  color: white;
  text-shadow: 0px 0px 2px black;
}

#time {
  text-align:right;
  font-size:100%;
  line-height: 50%;
  margin-right: 1%;
  color:white;
  text-shadow: 0px 0px 2px black;
}

#startbutton {
  position: absolute;
  padding:0;
  margin:0;
  bottom:0;
  left:0;
  width: 11%;
  height: 6%;
}

#startbutton:hover {
  /* background-color: grey; */
  background-image: url("taskhover.png");
  background-size: 99% 100%;
  background-repeat: no-repeat;
}

#startmenu {
  position: absolute;
  width:30%;
  bottom:6%;
  display:none;
}

#explorer {
  display:none;
  position: absolute;
  top:0;
  left:0;
  padding:0;
  margin:0;
  width:785px;
  height:556px;
  background-image: url("explorer.png");
  background-size: 100% 100%;
}

#iexplorer {
  display:none;
  position: absolute;
  top:0;
  left:0;
  padding:0;
  margin:0;
  width:785px;
  height:556px;
  background-image: url("iexplorer.png");
  background-size: 100% 100%;
}

.iexplorerif {
  position: absolute;
  background-color:white;
  left:4px;
  top:119px;
}

.iexplorerurl {
  position:absolute;
  width:574px;
  height:14px;
  left:75px;
  top:98px;
  border: none;
}

.closeX {
  position:absolute;
  top:6px;
  right:6px;
  height:21px;
  width:21px;
}

.closeX:hover {
  background-image: url("redX.png");
}

/* #explorer {
  width:100%;
} */
